*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

header{
     background-image:url(aaa.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;
}

ul{
    float: right;
    list-style-type: none ;
    margin-top: 20px;
    margin-right: 5px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(226, 197, 212);
    padding: 5px 20px;
    border: 1px solid white;
}

ul li a:hover{
    background-color: rgb(154, 202, 153);
    color: black;
}
.logo img{
    float: left;
    width: 300px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #ffffff;
    font-size: 35px;
}